
%select#new-browser{ :name => (name or '') }
  - browsers.by_groups.each do |group, browsers|
    %optgroup{ :label => !group.empty? ? " --- #{group} --- " : '' }
      - browsers.each do |browser|
        %option{ :value => browser.id }#{browser.name}