

%div{ :class => [ 'comments-display', task_comments.task.status_name, 'hidden' ], :data => { :comment_taskid => task_comments.task.id }}
  %h3 #{ task_comments.comments.size } comments
  %span.assignee
    %span.sc>< assignee:
    &nbsp;#{ task_comments.task.assignee.index_name }
  %ul
    -task_comments.comments.each_with_index do |comment, index|
      %li{ :data => { :comment_id => comment.id, :comment_index => index + 1 }}
        = render :partial => "partials/commentmetacell", :locals => { :comment => comment, :task => task_comments.task }
        %span{ :class => [ 'comment-tag', 'talk-bubble'] }=index + 1
        %span.comment-byline
          by
          %strong
            =comment.commenter.index_name
          %span.timestamp #{ comment.comment_date } ago
        - if comment.is_edited
          %span.edit-flag EDITED
        %p.comment-description
          =comment.description
