%span.meta
  %span
    =link_to "X", comment_path(comment.id), :method => :delete, :remote => true, :class => [ 'delete-comment', 'icon-hidden' ], :data => { :confirm => "Delete comment?", :comment_id => comment.id, :task_id => task.id }, :title => "Delete comment"

  %span
    =link_to "E", edit_comment_path(comment.id), :remote => true, :class => [ 'edit-comment', 'icon-hidden' ], :title => "Edit comment"
