
%tr{ :class => [ 'comments-display', task_comments[:task].status_name ], :data => { :comment_taskid => task_comments[:task].id }}
  %td{ :colspan => 8 }
    %h3 Comments on Task ##{ task_comments[:task].id }

    -task_comments[:comments].each do |comment|
      %hr
      %span.comment-byline 
        by
        %strong 
          =comment.commenter.index_name  
          at #{ comment.comment_date }
      %p.comment-description
        %strong Description:
        =comment.description
      %p.comment-assignee
        %strong Assignee:
        =comment.assignee.index_name