%span.meta
  %span
    =link_to "X", comment_path(comment.id), :method => :delete, :remote => true, :confirm => "Delete comment?", :class => [ 'delete-comment', 'icon-hidden' ], :data => { :comment_id => comment.id, :task_id => task.id }

  %span
    =link_to "E", edit_comment_path(comment.id), :class => [ 'edit-row', 'icon-hidden' ]
