
%tr
  %td{ :colspan => 7 }
    %p
      There are no tasks to view.
      -# only add text that follows for status filters
      -# other than "@all"
      - if filter != "all"
        You are currently filtering by
        %strong @#{ filter }.
        Try changing it to
        %strong
          @all.