
%select#filter-list
  %option{ :value => 'all' }@all tasks
  - filter_list.each do |filter|
    - unless filter == 'all'
      %option{ :value => filter , :selected => @current_filter === filter }
        @#{ filter }