
%menu
  %li
    %span#welcome{ :data => { :userid => me.id }}
    - if @user.is_nobody?
      %strong Please log in &#9658;

      %select{ :id => 'user-login-list', :class => [ 'login-list' ]}
        -# leave a blank option at top of <select> list
        %option
        - login_user_list.each do |user|
          %option{ :value => user.username}
            #{ user.index_name}
    - else
      You are
      %strong #{ me.full_name}
      %span.team [#{ me.team_abbrev}]