
%div#new-task
  %h3 #{ task.mode.to_s.capitalize } Task
  %fieldset
    %ul
      %li
        #label{ :for => "new-application" }App:

        / make this into a partial for _applist
        %select#new-application{ :name => "new-application" }
          - @app_list.each do |app|
            %option{ :value => app.id }=app.name


        %label{ :for => "new-build" }Build:
        %input#new-build{ :name => "new-build", :type => "text", :value => task.build_observed }

        %label{ :for => "new-status" }Status:


        - if task.is_edit_mode?
          / make this into a partial for _statuslist (or recycle the old one)
          %select#new-status{ :name => "new-status" }
            - @status_list.each do |status| 
              %option{ :value => status.id }=status.name
        - else
          %span.text-entry NEW

      %li
        %label{ :for => "new-browser" }Browser:
        / make this into a partial for _browserlist (or recycle the old one)
        %select#new-browser{ :name => "new-browser" }
          - @browser_list.each do |browser|
            %option{ :value => browser.id }=browser.name


      %li
        %label{ :for => "new-bz-id" }BZ id:
        %input#new-bzId{ :name => "new-bz-id", :type => "text", :value => task.bz_id }


      %li
        %label{ :for => "new-reporter" }Reporter:
        %span.text-entry=task.reporter.index_name
        %input#new-reporter{ :name => "new-reporter", :type => "hidden", :value => task.reporter.id }

        - if task.is_edit_mode?
          %label{ :for => "new-assignee" }Assignee:
          / make this into a partial for _assigneelist
          %select#new-assignee{ :name => "new-assignee" }
            - @assignee_list.each do |assignee|
              %option{ :value => assignee.id }=assignee.index_name


      %li
        %label{ :for => "new-description" }Description:
        %textarea#new-description{ :name => "new-description" }=task.description

  %hr
  %div.button-bar
    %input{ :id => "#{ task.mode }-task-cancel", :class => [ ".chekov-button" ], :type => "button", :value => "cancel" }
    %input{ :id => "#{ task.mode }-task-submit", :class => [ ".chekov-button" ], :type => "button", :value => "ok" }

