
%select#status-list
  %option{ :value => 'all' }@all tasks
  - status_list.each do |status|
    - name = (status.respond_to? :shortname) ? status.shortname : status
    %option{ :value => name , :selected => params[:filter] === name }
      @#{ name }