%select#status-list
  %option{ :value => 'all' }@all tasks
  - status_list.each do |status|
    %option{ :value => status.shortname , :selected => params[:filter] === status.shortname }
      @#{status.shortname}