
%span
  %a{ :class => [ 'delete-row', 'icon-hidden' ], :data => { :rowid => task.id }, :href => "#" }X

%span
  %a{ :class => [ 'edit-row', 'icon-hidden' ], :href => edit_task_path(:id => task.id) }E

%span
  %a{ :class => [ 'add-comment', 'icon-hidden' ], :href => new_comment_path(:id => task.id) }+

- if task.has_comments?
  %span.talk-bubble=task.comments_count

%span{ :class => [ 'comment-expander', if task.has_comments? then 'arrow-right' end ], :data => { :comment_count => task.comments_count }}

=task.id