
%span#task-table-stats
  %span#stats-open=stats.fetch :open, 0
  =t :stats_open
  ,
  %span#stats-attention=stats.fetch :need_attention, 0
  =t :stats_need_attention
  ,
  %span#stats-closed=stats.fetch :closed, 0
  =t :stats_closed