@import "_globals";
@import "_buttons";


h1 .app-name 		      { margin-left: 7px; font-weight: normal; color: rgba(0,0,0,0.025); }

body                      { font-family: $display-font; font-size: $base-font-size; color: $black; line-height: 25px;
                            margin: 0; padding: 0; }

select,
:focus                    { outline: none; }

::selection               { background: $reopened-border; color: #000; }
::-moz-selection          { background: $reopened-border; color: #000; }

#app-wrapper              { width: 80%; min-width: 1000px; margin: 0 auto 5em auto; border: 15px solid transparent;

    header h1             { font-size: 28pt; font-family: 'Droid Sans'; margin: 0 0 10px 0; letter-spacing: 0px;
                            color: #777; text-shadow: 1px 2px 1px #CCC; }
    header h2             { margin: 0; color: #888; letter-spacing: 0px; font-weight: normal; }
    #filter-list          { margin: 0; padding: 5px 0; line-height: 16px; color: #888; border: 0 none; font-size: 20px;
                            font-weight: normal; display: block; width: 285px; -moz-appearance: none; -webkit-appearance: none;
                            line-height: 28px; font-family: $header-font; background: transparent; position: relative; left: 7px; }
}

menu                      { margin: 0; padding: 5px 25px; list-style: none; text-align: right; border-top: 5px solid #555; color: $black;
    li                    { display: inline-block; }
    .login-list           { margin: 0 0 0 10px; padding: 2px 0; line-height: 14px; color: #888; font-size: 12px;
                            font-weight: normal; width: 150px; -moz-appearance: none; -webkit-appearance: none;
                            font-family: $display-font; background: transparent; border-bottom: 1px dashed #888;
                            border-top: 0 none; border-left: 0 none; border-right: 0 none; }
}
.comment-expander         { width: 22px; height: 14px; display: inline-block; vertical-align: text-bottom; }
.arrow-down               { font-size: 0px; line-height: 0; width: 0; height: 0; display: inline-block; margin: 0 5px 4px 5px;
                            border-bottom: 0 none; border-left: 6px solid transparent; border-right: 6px solid transparent;
                            border-top: 6px solid #999; cursor: pointer; }
.arrow-right              { font-size: 0px; line-height: 0; width: 0; height: 0; display: inline-block; margin: 0 8px;
                            border-right: 0 none; border-top: 6px solid transparent; border-bottom: 6px solid transparent;
                            border-left: 6px solid #999; cursor: pointer; }

#welcome                  { display: inline-block; text-align: left; text-transform: lowercase; font-variant:small-caps; font-size: 15px;
    .team                 { letter-spacing: 1px; margin-left: 3px; }
}
#task-table-stats         { display: inline-block; width: 50%; text-align: right; }
#stats-open               { font-weight: bold; }
#stats-attention          { font-weight: bold; color: $stats-attention; }
#stats-closed             { font-weight: bold; color: $stats-closed; }
#new-task-button          { width: 48%; display: inline-block; position: relative; left: 7px; }

.plus                     { font-size: 16px; font-weight: bold; }

hr                        { border-width: 2px 0 0 0; border-style: dotted; border-color: #AAA; }

table                     { width: 99%; border-collapse: collapse; border-spacing: 0; margin: 7px auto 0; }
th                        { white-space: nowrap; font-variant: small-caps; font-size: 13px; font-weight: normal; line-height: 22px;
                            border-bottom: 1px solid #999; letter-spacing: 1.5px; }

td                        { text-align: center; white-space: nowrap; padding: 5px 10px; }
td.description            { text-align: left; vertical-align: top; white-space: normal; }
tr                        { vertical-align: top; }
td:not(:first-child)      { border-bottom: 1px dotted #BBB; }

span.comments-count       { background: #DDD; color: #333; display: inline-block; padding: 1px; margin: 0; height: 16px;
                            border-radius: 7px; width: 18px; line-height: 16px; text-align: center; font-weight: bold;
                            border-top: 1px solid #999; font-size: 11px; border-bottom: 1px solid #BBB; }

/*  STATUS COLORS */
.closed                   { opacity: 0.65;
    td:first-child        { background: $green-bkgd; border: 1px solid $green-border; }
    .talk-bubble          { background: $green-border; color: #FFF; }
    .talk-bubble:after    { border-left-color: $green-border; }
    .comment-description  { border-left: 5px solid $green-bkgd; }
}
.open                     {
    td:first-child        { background: $open-bkgd; border: 1px solid $open-border; }
    .talk-bubble          { background: $open-border; color: #FFF; }
    .talk-bubble:after    { border-left-color: $open-border; }
    .comment-description  { border-left: 5px solid #DDD; }
}
.new                      {
    td:first-child        { background: $new-bkgd; border: 1px solid $new-border; }
    .talk-bubble          { background: $new-border; color: #FFF; }
    .talk-bubble:after    { border-left-color: $new-border; }
    .comment-description  { border-left: 5px solid $new-bkgd; }
}
.urgent                   {
    td:first-child        { background: $red-bkgd; border: 1px solid $red-border; }
    .talk-bubble          { background: $red-border; color: #FFF; }
    .talk-bubble:after    { border-left-color: $red-border; }
    .comment-description  { border-left: 5px solid $red-bkgd; }
}
.reopened                 {
    td:first-child        { background: $reopened-bkgd; border: 1px solid $reopened-border; }
    .talk-bubble          { background: $reopened-border; color: #777; }
    .talk-bubble:after    { border-left-color: $reopened-border; }
    .comment-description  { border-left: 5px solid $reopened-bkgd; }
}
.awaiting-feedback        {
    td:first-child        { background: $yellow-bkgd; border: 1px solid $yellow-border; }
    .talk-bubble          { background: $yellow-border; color: #777; }
    .talk-bubble:after    { border-left-color: $yellow-border; }
    .comment-description  { border-left: 5px solid $yellow-bkgd; }
}

.hidden                   { display: none; }

/*  GENERAL COMPONENTS  */
.button-bar               { width: 100%; margin: 0 auto; text-align: right; position: relative; bottom: 10px; }


/*  NEW TASK  */

#new-task,
#new-comment        { background: #F8F8F8; position: absolute; top: 180px; left: 17%; width: 55%;
                      height: 475px; border: 1px solid #777; display: none; @include boxshadow-simple(3px, 4px, 10px, #555);

    h3              { padding: 8px 0 0 12px; margin: 12px 0 0 0; font-size: 24px; text-transform: lowercase; }
    fieldset        { padding: 7px; margin: 0; height: 350px; overflow: auto; border: 0 none; }
    ul              { list-style: none; padding: 0; }
    li              { display: block; }
    label           { text-align: right; padding: 2px 5px; margin: 5px 0px; width: 80px; display: inline-block; font-weight: bold; }

    input[type=text],
    select,
    textarea        { margin-left: 10px; padding: 5px 7px; line-height: 16px; font-family: $header-font; background-color: #FEFEFE;
                      border-top: 2px solid #DBDBDB; border-left: 2px solid #C9C9C9; border-right: 1px solid #CCC;
                      border-bottom: 1px solid #DDD; }
    select          { border-bottom: 1px dashed #ECEAEE; border-top: 1px solid #F8F8F8; border-left: 1px solid #F8F8F8;
                      border-right: 1px solid #F8F8F8; margin-right: 50px; background: transparent; }
    option          { background: #F8F8F8; }
    input[type=text]{ background: none; border: 0 none; border-bottom: 1px dashed #CCC; }

    .button-bar       { width: 85%; }
    input[type=button]{ margin-left: 15px; }
    .text-entry       { padding-left: 7px; }
}

#new-comment        {
    .description    { margin-top: 30px; }
    li              { display: block; line-height: 8px; }
}


textarea:valid            { border: 0 none; background: #F3F3F3; width: 80%; height: 140px; border: 1px solid #CCC;
                            vertical-align: text-top;}

/*  COMMENTS  */
.comments-display         { width: 95%; margin: 0 auto; position: relative;
    header                { background: #F3F3F3; padding: 0 6px; border: 1px solid #ECEAEE; margin-top: 15px; }
    ul                    { list-style-type: none; padding-left: 0; }
    li                    { position: relative; }
    h3                    { margin: 0; display: inline-block; }
    hr                    { border-width: 1px 0 0 0; border-style: dotted; border-color: #CCC; }
    span.assignee         { float: right; }
    .sc                   { font-variant: small-caps; }
    .meta                 { position: absolute; top: -5px; left: -45px; }
    .edit-flag            { position: relative; top: -6px; left: 0px; display: inline-block; padding: 0px 5px; color: #CCC;
                            text-transform: lowercase; font-variant: small-caps; font-size: 14px; letter-spacing: 2px; line-height: 18px;
                            vertical-align: text-bottom; float: right; }
}
.comment-byline           { display: inline-block; font-size: 11px; color: #444; position: relative; top: -6px; left: 10px;
    span.timestamp        { color: #999; margin-left: 7px; }
}
.comments-display.closed  { text-decoration: none; }
.comment-description      { text-align: left; margin: 0 0 15px 30px; padding-left: 10px; }
.comment-assignee         { text-align: left; }
.comment-tag              { display: inline-block; font-weight: bold; width: 20px;
                            height: 20px; text-align: center; border-radius: 5px 0 5px 5px; float: left; line-height: 20px; }

#status-block             { display: inline-block; float: right; margin-right: 20px; }

.slogan                   { font-size: 0.8em; }

.intro-text               { width: 480px; line-height: 1.4em; margin-top: 45px; }

.main                     { overflow: hidden; }

th.id-header              { text-align: right; padding-right: 55px; }
td.id-cell                { text-align: left; width: 130px;
    .meta                 { display: inline-block; text-align: left; float: left; margin-right: 4px; }
    .id                   { width: 20px; display: inline-block; text-align: right; float: right; }
}
a.delete-row,
a.delete-comment          { opacity: 0.35; @include icon-only-link(url('headerIcons.png'), -213px, 0px); }
a.add-comment             { opacity: 0.3; @include icon-only-link(url('iconsOther16-8bit.png'), 0px, -85px); }
a.edit-row,
a.edit-comment            { opacity: 0.3; @include icon-only-link(url('iconsOther16-8bit.png'), 0px, -132px); }

.icon-visible             { visibility: visible; }
.icon-hidden              { visibility: hidden; }


.talk-bubble              { width: 22px; height: 18px; background: #999; position: relative; -moz-border-radius: 2px; font-size: 10px;
                            -webkit-border-radius: 2px; border-radius: 2px; color: #FFF; text-align: center; display: inline-block;
                            line-height: 18px; left: 0px; top: -3px; }
.talk-bubble:after        { content:''; position: absolute; left: 100%; top: 6px; width: 0; height: 0;
                            border-top: 2px solid transparent; border-left: 8px solid #999; border-bottom: 4px solid transparent; }

#gradient                 { height: 75px; position: absolute; width: 100%; z-index: -1000; top: 0px;
                            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.10, rgba(216,216,216,0.4)), color-stop(0.80, rgba(255,255,255,1))) repeat scroll 0 0; }

// STYLES FOR FLASH NOTIFICATIONS
.flash                    { display: block; width: 90%; margin: 10px auto; padding: 4px 12px; font-size: 14px; text-align: center; }
.flash .X                 { content: "X"; display: inline-block; float: right; font-weight: bold; font-size: 10px;
                            position: relative; top: -5px; left: 5px; cursor: pointer; }
#notice                   { border: 1px dashed rgba(221, 115, 28, 0.75); }
#alert, #error            { border: 1px dashed rgba(205, 49, 42, 0.75); background: #FFF3F3; color: #DC0000; }
#info                     { border: 1px dashed rgba(0, 128, 184, 0.75); background: #F0FAFF; color: #333; }
#info .X                  { color: rgba(0, 128, 184, 0.75); }
#success                  { border: 1px dashed rgba(46, 151, 0, 0.75); background: #EDF8EB; color: #333; }
#success .X               { color: rgba(46, 151, 0, 0.75); }